#custom ignored files
libreswanenv
librenv
libreswan_managing_interface/database.cnf
.idea/
.idea/*
temp_cert/*
certs/*
config/private/*
config/default_certificate.conf
config/index.txt.attr
config/index.txt.attr.old
config/index.txt.old
config/index.txt.new
config/serial.old
config/crl/crlnumber.old
config/crl/distripoint.crl

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# PyBuilder
target/


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3
