{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'vpn/img/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'vpn/css/style.css' %}" />
    <title>libreswan Managing Interface</title>
</head>

<body>
    <center>
        <img src="{% static 'vpn/img/libreswan-logo.png' %}" />
        <h1>libreswan Managing Interface</h1>
        <br><a href="/admin">Admin Login</a>

        {% block content %}
      {% endblock %}
    </center>
</body>

</html>
